<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


   <!--how do i refer the other part of the program
   to display these values? with the specific variables
   squid displays them
   how does the class meathod work with this?
   when do you use it?

   -->
   <%= "Team Name: #{@name}"%>
   <%= "Coach: #{@coach}" %>
   <%= "Point Guard: #{@point_guard}" %>
   <%= "Shooting Guard: #{@Shooting_guard} " %>
   <%= "Power Forward: #{@Power_forward}" %>
   <%= "Small Forward: #{@Small_forward}" %>
   <%= "Center: #{@Center}" %>




 </body>
</html>
